/* RESET */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, article, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
    /* PRIMARY COLORS */
    --primary-1: #3D9C3C;
    --primary-2: #79D679;
    --primary-3: #9FE59A;

    /* ACCENT */
    --accent-1: #F5D88D;
    --accent-2: #fbf2d7;
    
    /* NEUTRAL COLORS */
    --neutral-dk: #222;
    --neutral-med: #c1c2b5;
    --neutral-lt: #efefe8;
    --neutral-white: hsl(0, 0%, 100%);

    /* TYPOGRAPHY */
    font-size: 10px;
}

/* GENERAL STYLES */
body {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    background: var(--neutral-white);
    color: var(--neutral-dk);
}
section {
    padding: 40px;
    
}
.accent-section {
    background: var(--accent-2);
}
p {
    font-weight: 400;
    margin: 20px 0px;
}
h1 {
    font-family: "Poppins";
    font-size: 4rem;
    font-weight: 800;
    line-height: .9;
    text-transform: uppercase;
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
}
h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}
.heading-accent {
    height: 10px;
    width: 80px;
    border-radius: 30px;
    background: var(--primary-2);
    margin-top: -5px;
    margin-bottom: 40px;
}
/* LINKS & BUTTONS */
a {
    font-weight: 500;
    color: var(--neutral-dk);
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
a:hover {
    border-bottom: 4px solid var(--primary-2);
}
.btn {
    font-size: inherit;
    padding: 8px 16px;
    width: fit-content;
    background: var(--neutral-white);
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);
}
.btn:hover {
    background: var(--accent-1);
}
/* TOP NAV */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

/* HERO SECTION */
.hero-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: url(./assets/green_gradient.png);
   background-size: cover;
   background-position: center;
   height: 90vh;
   min-height: 650px;
   width: 100%;
}
.hero-img img {
    max-width: 100%;
}
.subheading {
    text-transform: lowercase;
    font-size: 2rem;
    margin-top: 8px;
}
.hero-container .btn {
    margin: 0 auto;
    width: 100%;
}

/* INTRO SECTION */
.intro h2 {
    text-align: center;
    margin-bottom: 40px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
}

.intro-container img {
    border-radius: 50%;
    border: 2px solid var(--neutral-med);
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);
    max-width: 150px;
}

/* WORK SECTION */

/* TOOLS SECTION */
#tools ul {
    list-style: none;
}
#tools ul li {
    width: 250px;
    display: inline-block;
}
#tools i {
    width: 25px;
}
/* CONNECT SECTION */
.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 300px;
    margin: 20px 0px;
    line-height: 1;
    margin-bottom: 0px;
}
.social-link {
    text-align: center;
}
.social-link i {
    font-size: 3rem;
}
/* FOOTER */
    footer {
        text-align: center;
    }
/* MEDIA INQUIRIES */
@media screen and (min-width: 700px) {
    section {
        padding: 40px 10%;
    }
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 6rem;
    }
    nav {
        font-size: 1.8rem;
    }
    .subheading {
        font-size: 3.2rem;
    }
    .hero-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-right: 40px;
        gap: 40px;
        min-height: 600px;
    }
    .intro-container {
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    section {
        padding: 40px 20%;
    }
}