/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --neutral-lt: #fff;
  --neutral-mdlt: #d9dbdf;
  --neutral-md: #919294;
  --neutral-mddk: #4d4e52;
  --neutral-dk: #1d1e1f;

  --primary: #2f323a;
  --accent-1: #FF7077;
  --accent-2: rgb(255, 176, 103);
  --accent-3: #ACEEF3;
  --accent-4: #ffe9e4;

  --overlay-primary-1: rgba(47, 50, 58, .8);
  --overlay-accent-2: rgba(255, 176, 103, .8);
  
  /* FONTS */
  --sans-serif: "Montserrat", sans-serif;
  font-size: 10;

  /* OTHER VARIABLES */
  --topnav-height: 70px;
  --transition: all 200ms ease-in-out;
  --box-shadow-sm: 0px 4px 12px rgba(0,0,0,.5);
  --box-shadow-md: 0px 6px 14px rgba(0,0,0,.4);
}

/* GLOBAL STYLES */
html {
  font-size: 10px; 
}
body {
  font-size: 1.8rem;
  font-family: var(--sans-serif);
  color: var(--neutral-dk);
}

/* LINKS & BUTTONS */
a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.btn {
  font-weight: 500;
  text-transform: lowercase;
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: var(--box-shadow-sm);
  transition: var(--transition);
}
.btn:hover {
  transform: scale(108%);
}

/* COLOR CLASSES */
.primary {
  background: var(--primary);
}
.accent-1 {
  background: var(--accent-1);
}
.accent-2 {
  background: var(--accent-2);
}
.accent-3 {
  background: var(--accent-3);
}
.accent-4 {
  background: var(--accent-4);
}

/* STRUCTURE & POSITIONING */

.content-area {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
.content-area:first-of-type{
  margin-top: 4rem;
}
.content-area:last-of-type{
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .nav-links a {
    font-size: initial;
  }
}

/* HERO SECTION */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - (var(--topnav-height)*2));
  color: var(--neutral-lt);
  background: var(--primary);
}
.hero h1, .hero p {
  margin: 0;
  line-height: 1;
}
.hero h1 {
  font-size: 4rem;
}

/* PAGE BANNERS */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  color: var(--neutral-lt);
  background: var(--primary);
}
/* PORTFOLIO */
.project-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 2rem 0;
}
.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background: var(--neutral-mdlt);
  padding: 2rem;
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: var(--box-shadow-md);
}
.project-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
  z-index: 1;
}
.project-card:hover .project-img {
  height: 120%;
  width: 120%;
  opacity: 80%;
}
.project-card-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--neutral-lt);
  font-weight: 500;
  border-radius: 8px;
  padding: 4rem 2rem;
  text-align: center;
  z-index: 10;
  box-shadow: var(--box-shadow-sm);
}

@media screen and (min-width: 750px) {
  .project-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-card {
    height: 250px;
  }
  .project-card-label {
    font-size: 1.4rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .project-card {
    padding: 2rem 10%;
  }
  .project-card-label {
    font-size: 1.6rem;
    padding: 1rem;
  }
}