@font-face {
  font-family: "Passion One";
  src: url("font/PassionOne-Regular.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("font/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Komika";
  src: url("font/KOMIKASK.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("font/Inter-VariableFont_slnt\,wght.ttf")
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  scroll-margin-top: 90px;
}

:root {
  /* COLORS */
  --neutral-lt: #fff;
  --neutral-mdlt: #f1f1f1;
  --neutral-md: #999;
  --neutral-mddk: #6d6d6d;
  --neutral-dk: #444444; 
  --neutral-dkdk: #111;

  --primary-1: #1C529A;
  --primary-1-lt: #59A9E4;
  --primary-1-dk: #11396d;
  --primary-2: #18BEBC;
  --primary-2-lt: #95EAD7;
  --primary-2-dk: #027286;
  --primary-3: #FCBA04;
  --primary-3-lt: #FFDB78;
  --primary-3-xlt: #fff8e4;
  --primary-4: #97031B;
  --primary-4-dk: #690012;
  --primary-4-lt: #E76F2C;
  
  /* FONTS */
  --sans-serif: "Inter", sans-serif;
  --comic: "Komika", sans-serif;
  --display: "Passion One", sans-serif;
  --cursive: "Pacifico", sans-serif;
  font-size: 10;

  /* OTHER VARIABLES */
  --topnav-height: 80px;
  --transition: all 200ms ease-in-out;
  --transition-slow: all 400ms ease-in-out;
  --box-shadow-sm: 0px 3px 12px rgba(0,0,0,.3);
  --box-shadow-md: 2px 4px 10px rgba(0,0,0,.3);
  --border-radius-card: 3px;
  --border-comic: 3px solid var(--neutral-dkdk);
  --line-height-xsm: .8;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
}

/* GLOBAL STYLES */
html {
  font-size: 10px; 
}
body {
  font-size: 1.8rem;
  font-family: var(--sans-serif);
  color: var(--neutral-dkdk); 
  background: var(--neutral-dkdk);
}
main {
  height: 100%;
  padding: 0 20px 40px 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: var(--neutral-lt);
}
/* class assigned to the main element of all pages except index.js */
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
p {
  line-height: var(--line-height-md);
  margin: 2rem 0;
}

ul {
  list-style-type: none;
}

/* LINKS & BUTTONS */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
p a {
  font-weight: 700;
}
p a:hover {
  text-decoration: underline;
}
button {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn {
  padding: 6px 12px;
  border: var(--border-comic);
  transition: var(--transition);
  font-family: var(--comic);
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  width: fit-content;
}
.btn:hover {
  transform: scale(110%);
}
.btn-dk {
  color: var(--neutral-lt);
  background: var(--neutral-dkdk);
}
.btn-lt {
  background: var(--neutral-lt);
}
.btn-alert {
  color: var(--neutral-lt);
  background: var(--primary-4);
}
.btn-bright {
  background: var(--primary-3);
}
.btn-sm {
  font-size: 1.4rem;
}
.btn-md {
  font-size: 1.8rem;
}
.btn-lg {
  font-size: 2.2rem;
}
/* To be replaced with comic style SVG */
.backToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  text-align: center;
  font-family: var(--comic);
  margin: 2rem 0 6rem 0;
}
.backToTop:hover {
  color: var(--primary-4);
}

/* IMAGES */
/* Large images will not display on small screens */
.img-lg {
  display: none;
}
@media screen and (min-width: 750px) {
  
  .img-sm {
    display: none;
  }
  .img-lg {
    display: block;
  }
}
/* COLORS*/
.primary-1 {
  background: var(--primary-1);
}
.primary-1-lt {
  background: var(--primary-1-lt);
}
.primary-2 {
  background: var(--primary-2);
}
.primary-2-lt {
  background: var(--primary-2-lt);
}
.primary-3 {
  background: var(--primary-3);
}
.primary-3-lt {
  background: var(--primary-3-lt);
}
.primary-4 {
  background: var(--primary-4);
}
.primary-4-lt {
  background: var(--primary-4-lt);
}
/* HEADINGS & FONT CLASSES */
.hidden {
  font-size: 0;
  opacity: 0;
}
.section-heading-cursive {
  font-family: var(--cursive);
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0; 
  line-height: 1.5;
}
.section-heading-display {
  font-family: var(--display);
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2rem 0; 
  line-height: 1.5;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neutral-mdlt);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  border: 3px solid black;
}
.comic-bubble {
  background: var(--neutral-lt);
  padding: 1rem 2rem;
  border: var(--border-comic);
  border-radius: 4px;
  line-height: var(--line-height-sm);
  font-weight: 400;
  font-family: var(--comic);
}
.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  min-height: 200px;
  text-align: center;
}

/* Used on home.html */
.box-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0.1;
}
.box-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* used on projects.html and gallery.html */
.box-img {
  max-width: 100%;
  padding: 10%;
}
.box-img-full {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* box variations? */
.box-style-0 {
  background: radial-gradient(var(--neutral-dk), var(--neutral-dkdk));
}
.box-style-1 {
  background: radial-gradient(var(--primary-1-lt), var(--primary-1) 70%, var(--primary-1-dk) 95%);
}
.box-style-2 {
  background: linear-gradient( 175deg, var(--primary-2-lt), var(--primary-2) 25%, var(--primary-2-dk) 95%);
}
.box-style-3 {
  background: radial-gradient(var(--primary-3-lt), var(--primary-3));
}

.box-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}
.box-overlay-dk {
  background-color: var(--neutral-dkdk);
  background-image: url("./assets/dots_medium_square.svg");
  background-blend-mode: overlay;
  color: var(--neutral-lt);
  opacity: 0; 
}
.show-details {
  opacity: 1;
}
.box-overlay-heading {
  font-family: var(--display);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
  line-height: 0.9;
  letter-spacing: .5px;
  color: var(--neutral-lt);
  padding: 20px;
}
.box-label-heading {
  font-family: var(--comic);
  font-weight: 400;
  font-size: 3rem;
  padding: 8px 16px;
  background: var(--neutral-dkdk);
  color: var(--neutral-lt);
  width: 100%;
}
.box-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  text-align: left;
}
.box-details ul li {
  display: flex;
  align-items: flex-start;
  gap: .8rem;
  padding: 1rem 0;
  font-size: 1.6rem;
}
.box-details ul li span:first-of-type {
  font-family: var(--display);
  font-size: 2.4rem;
  color: var(--primary-3);
  line-height: .8;
}
.box-details a:hover {
  text-decoration: underline;
}


/* GRIDS */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 2rem 0;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
}
/* used on projects page */
.snippet-card {
  border: var(--border-comic);
  height: 200px;
  overflow: hidden;
}
.snippet-card:hover {
  opacity: 70%;
}
.snippet-card img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 650px) {
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 750px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }
}