/* ABOUT */
.about-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  z-index: 100;
}
.about-overlay-graphic {
  max-height: 100%;
  max-width: 100%;
}
.about-overlay-text {
  position: absolute;
  font-family: var(--comic);
  font-size: 2rem;
}
.react {
  font-size: 4rem;
  color: var(--primary-2);
}
.thought-text {
  position: absolute;
  top: 40px;
  font-size: 3rem;
}
.heart {
  color: var(--primary-4);
  font-size: 3.4rem;
}
.about-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto auto;
  padding: 4rem;
}

.about-social-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  max-width: 600px;
  margin: 0 auto;
}
.about-social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.about-social-link i {
  font-size: 2.6rem;
  color: var(--neutral-lt);
  background: var(--neutral-dkdk);
  border-radius: 50%;
  padding: 8px;
  transition: var(--transition);
}
.about-social-link:hover {
  color: var(--primary-2);
}

@media screen and (min-width: 600px) {
  .about-social-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
  
