
.comic-bubble {
  background: var(--primary-2-lt);
}
/* GALLERY */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 0 4rem;
  margin: 6rem auto 8rem auto;
}
.gallery-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 225px;
  overflow: hidden;
}
.gallery-card img {
  max-width: 100%;
}
/* COMPARISONS */

.comp-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  overflow: hidden;
  width: fit-content;
  margin: 6rem auto 8rem auto;
}
.comp-card {
  position: relative;
  width: 300px;
  height: 300px;
  background: var(--neutral-lt);
  border: var(--border-comic);
}
.before::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "Original JPG Photo...";
  background: var(--neutral-lt);
  border-top: var(--border-comic);
  border-right: var(--border-comic);
  padding: 0 1rem;
  font-family: var(--comic);
}
.after::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "My Custom SVG...";
  background: var(--neutral-lt);
  border-top: var(--border-comic);
  border-right: var(--border-comic);
  padding: 0 1rem;
  font-family: var(--comic);
}
.comp-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comp-img-container img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 750px) {
  .comp-container {
    grid-template-columns: 1fr 1fr;
  }
}
