/* HEADER */
/* PAGE HEADER */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--topnav-height);
}
.page-header .text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.page-header .name {
  display: flex;
  flex-direction: column;
  font-family: var(--display);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: var(--line-height-xsm);
}
.page-header .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.page-header .title {
  font-family: var(--cursive);
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary-4);
}
@media screen and (min-width: 550px) {
  .page-header .name {
    font-size: 3rem;
  }
  .page-header .title {
    font-size: 4rem;
  }
}
/* FOOTER */
.page-footer {
  text-align: right;
  font-size: 1.4rem;
  font-family: var(--comic);
  font-style: italic;
}
/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  height: calc(100% - var(--topnav-height));
  background: linear-gradient(var(--primary-3), var(--primary-3-lt));
  border: var(--border-comic);
  overflow: hidden;
} 
  .character-img {
   position: absolute;
   left: -100px;
   object-position: center;
   height: 100%;
  }
  .background-graphics {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .graphic-1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 50%;
  }
  .graphic-2 {
    position: absolute;
    right: 0;
    height: 100%;
    opacity: 5%;
  }
  .hero-text {
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text .message {
    font-size: 2rem;
    opacity: 0;
    animation-name: showHeroText;
    animation-duration: 300ms;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .hero-cta {
    opacity: 0;
    animation-name: showHeroText;
    animation-duration: 300ms;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  @media screen and (min-width: 500px) {
    .character-img {
      left: 0;
      object-position: left;
      height: 100%;
     }
  }
  @media screen and (min-width: 700px) {
    .hero-text {
      left: unset;
      right: 5%;
      bottom: 200px;
    }
    .graphic-2 {
      position: absolute;
      top: 0;
      height: unset;
      width: 100%;
      opacity: 5%;
    }
  }
  @media screen and (min-width: 850px) {
    .hero-text {
      right: 10%;
      bottom: 50%; 
    }
  }

  @keyframes showHeroText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
